/*Декоративный шрифт*/

@font-face {
    font-family: 'Cansellarist';
    src: url(fonts/Cansellarist.ttf);
}

.img110 img {
    height: 110px;
}

.img150 img {
    max-height: 150px;
}

.h170>div {
    height: 170px;
}

.td-n,
.td-n:hover {
    text-decoration: none;
}

.h-loop-post {
    height: 260px;
}

.dn {
    display: none;
}


/*Размер шрифта*/

header,
p,
.carousel p,
.icons-service {
    font-size: 18px;
}


/*header*/


/*подменю верхнего меню*/

header li ul li {
    padding: 6px;
}


/*Анимация при наведении Взято с http://www.dilaxy.ru/*/

.animation:hover,
a:hover .icon-phone,
a:hover .icon-plansh,
a:hover .icon-notebook a:hover .icon-ebook,
a:hover .icon-mp3,
a:hover .blockcont {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
}


/*ремонт техники*/

.icon-phone {
    background: url('../my-smart/img/remont-front/phone_broken.png') center center no-repeat;
    width: 100%;
    height: 130px;
}


/*иконки вида техники*/

.block:hover .icon-phone {
    background-image: url('../my-smart/img/remont-front/phone.png');
}

.icon-plansh {
    background: url('../my-smart/img/remont-front/tablet_broken.png') center center no-repeat;
    width: 100%;
    height: 130px;
}

.block:hover .icon-plansh {
    background-image: url('../my-smart/img/remont-front/tablet.png');
}

.icon-ebook {
    background: url('../my-smart/img/remont-front/ebook_broken.png') center center no-repeat;
    width: 100%;
    height: 130px;
}

.block:hover .icon-ebook {
    background-image: url('../my-smart/img/remont-front/ebook.png');
}

.icon-notebook {
    background: url('../my-smart/img/remont-front/notebook_broken.png') center center no-repeat;
    width: 100%;
    height: 130px;
}

.block:hover .icon-notebook {
    background-image: url('../my-smart/img/remont-front/notebook.png');
}

.icon-mp3 {
    background: url('../my-smart/img/remont-front/mp3_broken.png') center center no-repeat;
    width: 100%;
    height: 130px;
}

.block:hover .icon-mp3 {
    background-image: url('../my-smart/img/remont-front/mp3.png');
    -webkit-transition: all 0s ease;
    -moz-transition: all 0s ease;
    -ms-transition: all 0s ease;
    transition: all 0s ease;
}

.block:hover .blockcont {
    font-weight: bold;
    background: #f6f6f6;
    border: 1px solid #bdc3c7;
    border-bottom: 0;
}

.blockcont {
    /*width: 198px;*/
    height: 180px;
    border: 1px solid #ffffff;
    border-bottom: 0;
}


/*Выпадающий список ремонта техники*/

.block:hover .forplates {
    opacity: 1;
    -webkit-transition: 0.2s linear opacity;
    visibility: visible;
}

.forplates {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 180px;
    background-color: #2b313a;
    /*width: 198px;*/
    width: 100%;
    z-index: 10;
    max-height: 180px;
    overflow: hidden;
    overflow-y: auto;
    z-index: 99999999;
}

.forplates li a {
    padding: 7px 0;
    border-bottom: solid 1px #363e4d;
    display: block;
    color: #ffffff!important;
}

.forplates li:last-child,
.forplates li.lastone {
    border-bottom: 0px;
}

.forplates li:hover a {
    color: #64d57a!important;
}


/*логотип*/


/*лого в шапке*/

.logo-img {
    width: 60px;
}


/*Лого в меню*/

.logo-img-menu {
    height: 40px;
    float: left;
    margin-top: -10px;
    margin-right: 10px;
}


/*Убрать подчеркивание всех ссылок*/

* a:hover {
    text-decoration: none;
}


/*название сайта*/

.site-name-header,
.site-name-menu {
    font-weight: 600;
    color: rgba(0, 0, 0, 0.6);
    text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2), 0px -5px 35px rgba(255, 255, 255, 0.3);
}


/*карусель*/

.carousel h3 {
    display: inline-block;
    padding: 0;
    font-weight: 600;
    font-size: 40px;
    text-transform: uppercase;
    text-shadow: -0 -2px 0 #9E9E9E, 0 -2px 0 #9E9E9E, -0 2px 0 #9E9E9E, 0 2px 0 #9E9E9E, -2px -0 0 #9E9E9E, 2px -0 0 #9E9E9E, -2px 0 0 #9E9E9E, 2px 0 0 #9E9E9E, -1px -2px 0 #9E9E9E, 1px -2px 0 #9E9E9E, -1px 2px 0 #9E9E9E, 1px 2px 0 #9E9E9E, -2px -1px 0 #9E9E9E, 2px -1px 0 #9E9E9E, -2px 1px 0 #9E9E9E, 2px 1px 0 #9E9E9E, -2px -2px 0 #9E9E9E, 2px -2px 0 #9E9E9E, -2px 2px 0 #9E9E9E, 2px 2px 0 #9E9E9E, -2px -2px 0 #9E9E9E, 2px -2px 0 #9E9E9E, -2px 2px 0 #9E9E9E, 2px 2px 0 #9E9E9E;
    /*        background: rgba(248, 248, 248, 0.4); */
}

.carousel p {
    padding: 4px;
    font-size: 23px;
    line-height: 28px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

/*МНОГОУРОВНЕВОЕ МЕНЮ BOOTSTRAP*/
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}


/*изображение миниатюр категорий*/
.category-img{
  list-style:none;
  display: -webkit-flex; /* Safari */
display: flex; /*отображает контейнер как блочный элемент*/
justify-content:flex-start; /*выраснивание по горизонтали*/
align-items:flex-end; /*выраснивание по вертикали*/
flex-wrap:wrap; /* многострочность */
align-content:center;/* многострочное выравнивание */

}

.category-img a {
  text-align:center;
  width:250px;
  /*border:1px solid red;*/
  margin-right:20px;
}

/*Кнопка отправить на ремонт*/
.btn-remont{
    display:inline-block;
    padding:10px 20px;
    font-size: 13px;
    color: #64d57a;
    text-decoration: none;
        text-transform: uppercase;
        font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    border:1px solid;
    border-radius:5px;
}

.btn-remont:hover{
    color:white;
    background-color: #64d57a;
    border-color:#64d57a;
}

/*Исправлен косяк с высотой кнопок верхнего меню, при добавлении иконки*/
.top-menu>li>a{
  height:50px;
}

/*ИСПРАВЛЕНИЕ ДИЗАЙНА*/

header, header>div{
  background-color:#444;
  color:white;
}

.site-name-header{
  color:white;
}

.site-name-header:hover{
  color:silver;
}

h1 *{
  text-decoration:none;
}

#top-navbar{
  margin-bottom:0px;
}
