.img110 img{
	height: 110px;
}

.img150 img{
	max-height: 150px;
}

.h170>div{
	height:170px;
}

.td-n,
.td-n:hover{
	text-decoration: none;
}


.h-loop-post{
	height:260px;
}

.dn{
	display: none;
}
/*.carousel .item img{
	height: 100%;
	width: 100%;
}*/
/*
body{
margin-top: 48px;
}*/

/*Анимация при наведении Взято с http://www.dilaxy.ru/*/
.animation:hover {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
}